body{
	background-color: #eeee;
	background-image:url(../images/aboutUsBackGround.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color:black;
}
.row{
	margin-top: 10px;
	min-height: 100px;
	justify-content: left;
}
.container-fluid{
	font-family: sans-serif;
}
.navbar-brand{
	font-size: 1.25rem;
	font-weight: 500;
}
h2{
    padding: 50px 0;
}
#nameField{     
	width: 200px;
}
#emailField{
	width: 200px;
}
#message{
	width: 200px;
	height: 200px;
}
@media screen and (max-width: 600px) {
	#contactUsCarousel{
		display: none;
	}
}
#contactUsForm{
	text-align: left;
}
#contactUsCarousel{
	size: auto;
}
.carousel {
	max-width: 100%;
	max-height: 100%;
  }
.carousel-item{
	transition-delay: 2s;
	transition-duration: 2s;
	transition: all;
}


