body{
	background-color: #eeee;
	background-image:url(../images/aboutUsBackGround.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color:black;
}
.row{
	margin-top: 10px;
	min-height: 100px;
	justify-content: left;
}
h2{
    padding: 50px 0;
}

#message{
	width: 200px;
	height: 200px;

}

#myForm{
	text-align: left;
}
#contactUsCarousel{
	size: auto;
}

.carousel {
	max-width: 100%;
	max-height: 1000%;
  }

.carousel-item{
	transition-delay: 2s;
	transition-duration: 2s;
	transition: all;
}
