body{
	background-color: #eeee;
	background-image:url(../images/backGround.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color:black;
}
.row{
	margin-top: 10px;
	min-height: 100px;
	justify-content: left;
}
h2{
    padding: 50px 0;
}
/* .w-100{      W-100 changed to w-auto */ 
  /* width: 100% !important; */
  /* height: 100vh; */
/* } */

/* p{ */
	/* color:black; */
	/* font-family: New Century Schoolbook, TeX Gyre Schola, serif; */
/* } */

/* h1{ */
	/* color:black; */
	/* font-family: New Century Schoolbook, TeX Gyre Schola, serif; */
/* } */

img{
	max-width: 100%;
	max-height: 100%;
}