body{
	background-color: #eeee;
	text-align: center;
	color:black;
}

.show{
	background-color: white;
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;

}
.row{
	margin-top: 10px;
	min-height: 100px;
	justify-content: left;
}

h2{
    padding: 50px 0;
}

.homepageimage{
	max-width: 100%;
	max-height: 100%;
}

.color1{
	background-color:blue;
}

#homepageCarousel{
	size: auto;
}
/*
.col-xs-12{    ffs...
	max-width: 10%;
	max-height: 10%;

}
*/
.carousel {
	max-width: 50%;
	max-height: 50%;
  }

.carousel-item{
	transition-delay: 2s;
	transition-duration: 2s;
	transition: all;
}