
/*body{
    background-color: lightgrey;
}*/
#header{
display: flex;    /*this makes entire container flexable*/
height: 200px;
width: 100%;
align-items: center;  /*aligning the items in the centers, . */
flex-direction: row;
background-color: red;
}

#header-div1{
padding: 1px;
border: 1px black solid;
margin: 1%;
flex: 1;   /*grow factor of a flex items main size*/
order: 1;  /*order of the item in the flex*/
}

#header-div2{    /*first box in header but order is defined by order:*/

border: 1px black solid;
padding: 10px;
margin: 2%;
text-align: left;
flex: 3;   /*grow factor of a flex items main size*/
order: 2;  /*order of the item in the flex*/

}
#header-div2:hover{
    background-color: white;
}
#header-div3{    /*Second box in header but order is defined by order: */
border: 1px black solid;
padding: 10px;
margin: 2%;
text-align: right;
flex: 3;
order: 3;
}

#header-div3:hover{    /*changing colr and font style with a hover*/
    background-color: grey;
    font-style: italic;
}


.hyperlinks{
display: flex;
flex-direction: row;
justify-content: center;   /*using justified content as per lab requirements*/

}

.hyperlinks div{  /*affects all div in container hyperlinks*/
    font-family: 'Courier New', Courier, monospace;
    color:black;
    border: 1px black solid;
    background-color: rgb(166, 255, 0);
    padding: 10px;
    box-shadow: 10px 10px blue;
    margin: 0.5%;
    text-align: center;
}

.hyperlinks div:hover{

    background-color: white;
}
.hyperlinks-div-profile{
    order: 1;
}
.hyperlinks-div-skills{
    order: 2;
}
.hyperlinks-div-education{
    order: 3;
}
.hyperlinks-div-certs{
    order: 4;
}
.hyperlinks-div-workExp{
    order: 5;
}
.hyperlinks-div-interests{
    order: 6;
}

#Profile{
        width: 100%;
        height:900px;
        background-image:url(../images/background.png);
        background-repeat:no-repeat;
        background-size: cover;	        
}

#Skills{
    width: 100%;
    height:900px;
    background-image:url(../images/background.png);
    background-repeat:no-repeat;
    background-size: cover;	        
}

#Education{
    width: 100%;
    height:900px;
    background-image:url(../images/background.png);
    background-repeat:no-repeat;
    background-size: cover;	        
}

#Certifications{
    width: 100%;
    height:900px;
    background-image:url(../images/background.png);
    background-repeat:no-repeat;
    background-size: cover;	        
}

#workexperience{
    width: 100%;
    height:900px;
    background-image:url(../images/background.png);
    background-repeat:no-repeat;
    background-size: cover;	        
}

#Interests{
    width: 100%;
    height:900px;
    background-image:url(../images/background.png);
    background-repeat:no-repeat;
    background-size: cover;	        
}

li{
    text-align: center;
}
h1{
    text-shadow: 2px 2px;
}
h2{
    text-shadow: 2px 2px;
    text-decoration: underline;
    text-align: center;
}
h3{
    text-shadow: 2px 2px;
}


ul.myUlProfile{
    display: round;
    text-align: center;
}
 

ul.myULSkills{
    display: inline-block;
    text-align: center;
}



@media screen and (max-width: 600px) { /*media screen adjust for smaller devices to turn rows into columns (REMEMBER CASCADING HERE as to why testing didn't work..*/

    .hyperlinks, #header {
        flex-direction:column;
    }

        }

#footer{
            display: flex;    /*this makes entire container flexable*/
            height: 200px;
            width: 100%;
            align-items: center;  /*aligning the items in the centers, . */
            flex-direction: row;
            background-color: red;
            }